body { 
  background-color: #2c2c2c;
  overflow-x: hidden; 
}

.row-flex-auto{ position: relative;}
.row-flex-auto > div{
  height: auto;
}

.App {
  font-size: calc(10px + 2vmin);
  /* font-size: 1.4em; */
  color: white;
  max-width: 1400px;
  margin: auto;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8A8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: grab;
}

.btn{
  color: #888;
  padding: 12px;
  background-color: #DDD;
  border: 1px solid #444;
  border-radius: 5px;
}
.btn:focus{
  outline: 2px solid #F8Ac22;
}

.selectable {
  cursor: pointer;
  transition-duration: 0s;
  border-bottom: 1px solid #AAA;
}
.selectable:hover {
  color: lightgreen;
  transition-duration: 1s;
}

.selected { 
  color: wheat; margin-bottom: -1px;
  border-bottom: 1px solid yellowgreen;
  border-radius: 5px;
}
#gameSection{
  background-color: #3c3c3c;
  border: 1px solid #444;
  padding: 5px;
  margin: 4px 0;
}


#attackSection {
  background-color: #3c3c3c;
  padding: 0.5em;
}

#consoleSection {
  background-color: #3c3c3c;
  padding: 0.5em;
}

#punishSection {
  padding: 0.5em;
}
.consoleBG-universal{
  background-color: #533;
}
.consoleBG-xbox{
  background-color: rgb(76, 107, 76);
}
.consoleBG-ps4{
  background-color: rgb(63, 54, 105);
}

.punishBtn{
  cursor: pointer;
  font-size: 14px;
  color: #AAA;
  border: 1px solid #fcd387;
}
.punishBtn:hover{
  transform: scale(1.05);
  color: #fcd387;
}
.consoleBG-universal-btn{
  background-color: #633;
}
.consoleBG-xbox-btn{
  background-color: rgb(108, 182, 108);
  color: wheat;
}
.consoleBG-ps4-btn{
  background-color: rgb(116, 100, 194);
  color: wheat;
}

#gamingConsole {
  width: 80%;
}
#statsBox {
  font-size: 16px;
}

#characterBox {
  padding-left: 4px;
  font-size: 18px;
  text-align: left;
  margin: auto;
  max-width: 180px;
  max-height: 120px;
  white-space: normal;
  overflow-y: scroll;
  background-color: #777;
  border: 1px solid #555;
}

#punisherBox {
  padding-left: 4px;
  font-size: 18px;
  text-align: left;
  margin: auto;
  max-width: 180px;
  max-height: 120px;
  white-space: normal;
  overflow-y: scroll;
  background-color: #777;
  border: 1px solid #555;
}

#movesSection {
  /* padding: 5px; */
  margin: 4px 0!important;
  max-height: 240px;
}

.height-100{ height: 100%!important;}
#moveBox {
  padding-left: 4px;
  font-size: 18px;
  text-align: left;
  margin: auto;
  max-width: 180px;
  height: 100%;
  white-space: normal;
  overflow-y: auto;
  background-color: #777;
  border: 1px solid #555;
}
.row-header{
  background-color: #333;
  padding: 2px;
  margin: 8px 0;
  border-radius: 5px;
}
#counterSection{padding: 5px;}
#counterBox {
  padding-left: 4px;
  font-size: 18px;
  text-align: left;
  margin: auto;
  max-width: 180px;
  height: 100%;
  white-space: normal;
  overflow-y: auto;
  background-color: #777;
  border: 1px solid #555;
}

/* Media queries */

/* Small devices (portrait tablets and large phones, 720px and below) */
@media screen and (max-width: 720px) {
  [class*="col-"] { margin-right: 0!important; margin-bottom: 5px; }
  .m-r-1{margin-right: 0!important;}

}

/* Medium devices (landscape tablets, 720px - 1024px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  [class*="col-"] { margin-right: 5px!important; }
  .m-r-1{margin-right: 1em!important;}

}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  [class*="col-"] { margin-right: 5px!important; }
  .m-r-1{margin-right: 1em!important;}

}